/working/*
/working/*.png
/working/player.json
/working/*.log
/working/connection.json
/working/selections*.json
/working/configs/*.json
/working/views/*recovery*
/working/views/local*
/working/state/*.json
/.idea/*
*.db
*.zip
/target/*