.updatedValue {
    background-color:#f7b2b2;
}

.dropdown-menu a.nav-link {
    color:black !important;
}

.FileName {
    padding: 4px;
    font-weight: bold;
}


.export-link {
    float:right;
    display: inline-block;
    cursor:pointer;
    padding: 4px;
}

.reset-link {
    float:right;
    display: inline-block;
    cursor:pointer;
    padding: 4px;
}

.export-all-container {
    display: block;
    text-align: center;
}

.export-all-link
{
    cursor: pointer;
}

body.running .notWhileRunning {
    display:none;
}

.whileRunning {
    display:none !important;
}

body.running .whileRunning  {
    display:inline-block !important;
}

#statusName.oi {
    cursor:pointer;
}

.nav-item a.oi:before {
    vertical-align:middle;
}

.nav-item a.oi > span {
    padding-left: 4px;
}